
html, body {margin: 0; height: 100%; overflow: hidden}
canvas {
    background-color: black;
    position: absolute;
    opacity: 75%;
}

.container {
    position: relative;
    // text-align: center;
    // color: white
}

.container p {
    display: flex;
    justify-content: center;
}

.container canvas, #overlay {
    position: absolute;
    // display: flex;
    // justify-content: center;
}

#overlay {  
    color: white;
    text-align: center;
    margin: 20px;
    width: 95%;
    // border: 3px solid white;
    padding: 10px;
}

.center{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    justify-content: center;
    
}

h1 {
    font-size: 40px;
    // text-align: center;

}
.start {
    cursor: pointer;
    position: absolute;
    left: 5px;
    display: inline-block;
}

.lofi-button {
    position: absolute;
    right: 5px;
    display: inline-block;
}

.mute-button {
    position: absolute;
    right: 20vh;
    display: inline-block;
}

span {
    // display: inline-block;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1px;
}

.word-container {
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    
}
.word-area {
    color: lightgrey;
    width: 80vw;
  
}

.word-area .correct {
    color: lightgreen;   
}

.word-area .incorrect {
    color: lightcoral;
    // background-color: lightpink;
    
}
.word-area span {
    position: relative;
}

// .current {
//     color: #17A2B8
// }

.current::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #17A2B8;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  20%{ 
    opacity: 1; 
  }
}

.input-field {
    opacity: 0;
    z-index: -999;
    position: absolute
}

.imgbox {
    background-size: 100% auto;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.fit {
    width: 100%;
    height: 100%;
}